/* FormDemo.css */

.form .card {
  max-width: 900px;
}
.form .card form {
  margin-top: 2rem;
}
.form .card .field {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  .form .card {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form .card {
    width: 100%;
    min-width: 0;
  }
}

.p-inputtext {
  padding: 0.55rem 0.75rem !;
}
.flex-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
}

.ml-1 {
  margin-left: 1rem;
}
.table-header {
  padding: 1rem;
  margin-right: 1rem;
  font-size: larger;
  font-weight: bold;
}

.p-button.p-button-icon-only {
  height: 2rem;
  width: 2rem;
}

.p-card .p-card-content {
  padding-top: 0rem;
}
.p-card .p-card-body {
  padding: 0rem;
}
.container {
  padding: 1rem;
}

.p-card .p-card-content {
  padding: 0rem;
}
.p-datatable .p-datatable-header {
  padding: 0.25rem;
}

.p-rating .p-rating-icon.pi-star-fill {
  color: #fdcc0d;
}

.p-rating:hover .p-rating-icon.pi-star-fill:hover {
  color: #f3a310;
}

.mb-2 {
  margin-bottom: 0.8rem;
}

.soldOut {
  transform: rotate(35deg);
  background-color: red;
  padding: 0.25rem;
  flex-direction: auto;
  color: white;
  font-weight: 600;
  margin-right: -1rem;
  top: 0;
  overflow: hidden;
}
